#main h2{
	margin: 20px 0px 0px 0px;
	font-size:large;
}
#main article {
	padding: 10px 30px ;
	background: #e5f2ff ;
	border: medium solid #000000;
	border-style: dashed;
}
#main li{	line-height:30px; }
#main ul{	list-style-type: none; }
#main a{	text-decoration: none;
			
			color:blue;}
#main a:hover{
			color:aqua;
}
