#main table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

#main th{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 20px 20px 0 0;
	background:#222222;
	color:white;
	height:50px;
}
#main td{
	font-size:normal;
	position:center;
	height:60px;
	border: 1px #222222 solid;
}
#main td p{
	padding:3px;
	font-size:normal;
	text-align:center;
	height:60px;
}

#main td a{
	padding:3px;
	color:#000000;
	font-size:normal;
	text-align:center;
	height:60px;
	text-decoration: none;
}

#main .hover .contest{
	padding:3px;
	color:red;
	font-size:normal;
	text-align:center;
	height:60px;
	text-decoration: none;

}
#main .eng {	background: #ff9999;}
#main .exp {	background: #8e8eff;}
#main .imp {	background: #99ff99;}
#main .nor {	background: #ffffa8;}
#main .mat {	background: #93c9ff;}
#main .exs {	background: #d1d1ff;}
#main .joh {	background: #ffdbb7;}

#main th:first-child{
	color:red;
}
#main th:last-child{
	color:blue;
}
.hover{
	background:#B2D8FF;
}
.hover tr:first-child{
	background:red;
}
#main tr:nth-child(2){
	background:#ffff7f;
}
#main .link {
	text-align:right;
}
#main .link a{
	color:blue;
	text-decoration: none;
}

Rp7rf

